
<div class="container">
	<div class="row">
		<div class="panel panel-info">
			<div class="panel-heading"><strong><h2>{{task?.title}}</h2></strong></div>
			<div class="panel-body">
				<h4>{{task?.body}}</h4>
			</div>
			<div class="panel-body"><strong>Category: </strong>{{task?.category}}</div>
			<div class="panel-body"><strong>Importancy: </strong>{{task?.importancy}}</div>
			<div class="panel-body"><strong>Urgency: </strong>{{task?.urgency}}</div>
			<br>
			<div class="panel-footer">
				<h5><strong><em>{{user?.name}}</em></strong> created this task on {{task?.created_at | date: 'dd/MM/yyyy, hh:mm'}}</h5>
			</div>
		</div>
		
	</div>
	<div class="row">
		<a routerLink="/task/edit/{{task?.id}}" class="btn btn-primary">Edit</a>
	</div>
	<hr>
		<div *ngIf="comments; then isComments else isNotComments"></div>
			<ng-template #isComments>
				<div class="panel panel-success" *ngFor="let comment of comments">
					<div class="panel panel-body" >
					<p>{{comment.body}}</p>
					<hr>
					<div *ngFor="let user of users">
						<div *ngIf="user.id==comment.user_id">
							<p>This comment is added by <strong> <em>{{user?.name}}</em></strong>  on {{comment?.created_at | date: 'dd/MM/yyyy, hh:mm'}}</p>
						</div>
					</div>
					</div>
				</div>
			</ng-template>
			<!-- <ng-template #isNotComments>No comments</ng-template> -->
		
		<!-- <div *ngIf="!comments" >
			<p>No comments</p>
		</div> -->
	<hr>
		<div class="row">
			<form #f="ngForm" (ngSubmit)="Submit(f)">	
				<div class="form-group">
						<label for="body">Leave the comment here...</label>
						<!-- <textarea name="body" placeholder="Your comment here...." class="form-control" rows="6"> </textarea> -->
					
					 <input type="text" id="body" name="body" style="width: 680px; height: 250px" ngModel class="form-control">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Add comment</button>
				</div>
			</form>
		</div>
	
</div>





