<!-- <div id="app">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="#" [routerLink]="['/tasks']">Tasks</a> |
        <a href="#" [routerLink]="['/new-task']" [queryParams]="{category: val1}">Add a new task</a> |
        <a href="#" [routerLink]="['/new-task']" [queryParams]="{urgency: val2, importancy:val3}"></a>
        <a href="#" [routerLink]="['/password/reset']" [queryParams]="{token: val1}"></a>        -->
        <!-- <a href="#" [routerLink]="['/quartal']">Quartal View</a>
        <a href="#" [routerLink]="['/time']">Time View</a> -->
        <!-- <a href="#" [routerLink]="['/views']">Views</a> |
        <a href="#" [routerLink]="['/signup']">Sign up</a> |
        <a href="#" [routerLink]="['/signin']">Sign in</a> |
        <a  [routerLink]="['/signout']" >Sign Out</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <router-outlet>
        </router-outlet>
      </div>
    </div>
  </div>
</div> -->

<div id="app">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <a href="#" [routerLink]="['/new-task']" [queryParams]="{urgency: val2, importancy:val3}"></a>
          <a href="#" [routerLink]="['/password/reset']" [queryParams]="{token: val1}"></a>
          <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">To-Do App</a>
                </div>
            
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="#" [routerLink]="['/new-task']" [queryParams]="{category: val1}">Add a new task</a></li>
                    <li><a href="#"  [routerLink]="['/views']">Views</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a *ngIf="!authService.getToken()" [routerLink]="['/signup']">Sign up</a></li>
                      <li><a *ngIf="!authService.getToken()" [routerLink]="['/signin']" >Sign in </a></li>
                      <li><a *ngIf="authService.getToken()" [routerLink]="['/signout']">Sign Out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>






      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <router-outlet>
        </router-outlet>
      </div>
    </div>
  </div>
</div>



