
<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Create new Task:</h1>
        <br>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" id="title" name="title" *ngIf="task" [(ngModel)]="task.title"  ngModel class="form-control">
            </div>
  
            <div class="form-group">
                <label for="body">Body</label>
                <input type="text" id="body" name="body" *ngIf="task" [(ngModel)]="task.body" ngModel class="form-control">
            </div>
  
            <div class="form-group">
              <label for="category">Select category: </label>
              <select name="category" id="category" *ngIf="task" [(ngModel)]="task.category" ngModel class="form-control">
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
                <option value="Uncategorized">Uncategorized</option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="importancy">Select importancy: </label>
              <select name="importancy" ngModel class="form-control" *ngIf="task" [(ngModel)]="task.importancy" id="importancy">
                  <option value="Important">Important</option>
                  <option value="Not Important">Not Important</option>
              </select>
            </div>
  
  
            <div class="form-group">
              <label for="urgency">Select urgency: </label>
              <select name="urgency" ngModel class="form-control" id="urgency" *ngIf="task" [(ngModel)]="task.urgency">
                  <option value="Urgent">Urgent</option>
                  <option value="Not Urgent">Not Urgent</option>
              </select>
            </div>
  
  
            <div class="form-group">
              <label for="isFinished">Finished</label>
              <input type="text" id="isFinished" name="isFinished" *ngIf="task" [(ngModel)]="task.isFinished" ngModel class="form-control">
            </div>
  
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
            </div>
          </form>
      </div>
    </div>
  </div>
  
